spring:
    datasource:
      url: jdbc:h2:file:./database/cineminha
      username: ${H2_USERNAME}
      password: ${H2_PASSWORD}
    jpa:
      database-platform: org.hibernate.dialect.H2Dialect
      hibernate:
        ddl-auto: update
      open-in-view: false
      properties:
        hibernate:
          format-sql: true
    h2:
      console:
        enabled: true
        path: /h2-console
server:
  port: 8080
  servlet:
    session:
      cookie:
        secure: true
        http-only: true
        same-site: strict
app:
  storage:
    source-dir: ./media/source
    processed-dir: ./media/processed
    thumbnail-dir: ./media/thumbnails
  security:
    admin:
      username: ${ADMIN_USERNAME}
      password: ${ADMIN_PASSWORD}
  logging:
    level:
      root: INFO
      org.hibernate.SQL: DEBUG
      org.hibernate.tool.schema: DEBUG
      org.springframework.security: TRACE